/* Import all base styles. */
@import url('./all/all.css');

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.root canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.score {
  position: absolute;
  top: 25%;
  left: 75%;
}

.fail {
  position: fixed;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: red;
  background: rgb(0 0 0 / 80%);
  opacity: 0;
  transition: opacity linear 0.1s;
}

.fail-title {
  font-size: 3rem;
}

.fail-description {
  font-size: 2rem;
}

.fail.active {
  z-index: 1;
  opacity: 1;
}
