/* Import all base styles. */
@import url('./all/all.css');

.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.root canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.score {
  position: absolute;
  top: 25%;
  left: 75%;
}

.fail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: red;
  background: rgb(0 0 0 / 80%);
  opacity: 0;
  transition: opacity linear 0.1s;
}

.fail-title {
  font-size: 3rem;
}

.fail-description {
  font-size: 2rem;
}

.fail.active {
  z-index: 1;
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: opacity linear 0.1s;
}

.menu.disabled {
  z-index: -1;
  opacity: 0;
}

.menu-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-width: 90%;
}

.menu-form > * {
  width: 100%;
  margin-bottom: 1rem;
}

.menu button {
  padding: 0.5rem;
  cursor: pointer;
}

.menu-form label {
  display: flex;
  flex-direction: column;
}

.menu-form input {
  padding: 0.5rem;
}

.menu-form label input {
  margin-top: 0.25rem;
}
